<mat-toolbar class="border-b border-gray-200 bg-white shadow-none">
  <span class="material-icons text-gray-700 mr-2">flight</span>
  <span class="text-base font-medium text-gray-800">Airplane Manager</span>

  <span class="flex-1"></span>

  @if (authService.user()) {
    <span class="text-sm text-gray-500 mr-4">{{ authService.user()!.name }}</span>
  }

  <button mat-stroked-button (click)="onLogout()">
    <mat-icon>logout</mat-icon>
    Logout
  </button>
</mat-toolbar>

<main>
  <router-outlet />
</main>
